h1 { 
    text-align: center;
    color:blueviolet;
}

body {
    background-color: yellow;
}

img {
    border: 5px solid #ef63c7;

  }

p {
    text-align: center;
    color:#f11212;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#audio {
    text-align: center;
}

